**1-Write a Python program to calculate the length of a string using 2 ways

In [306]:
text="Ashraf Gamal"
print(len(text))
#سبحان الله وبحمده سبحان الله العظيم.

12

In [3]:
    count = 0
    for char in text:
        count += 1
    print(count)
#سبحان الله وبحمده سبحان الله العظيم.

12

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [308]:
#سبحان الله وبحمده سبحان الله العظيم.
sampleStrings = ['w3resource', 'w3', 'w']
for sample in sampleStrings:
    if len(sample) < 2:
        print("Empty String")
    else:    
        print(sample[:2] + sample[-2:])

w3ce
w3w3
Empty String

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [309]:
#سبحان الله وبحمده سبحان الله العظيم.
sample_string = "ably"
if len(sample_string) >= 3:
    if sample_string.endswith("ing"):
         result = sample_string + "ly"
    else:
         result = sample_string + "ing"
else:
    result = sample_string
print(result)

ablying

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [37]:
def longest_word_and_length(word_list):
    longest_word = max(word_list, key=len)
    return longest_word, len(longest_word)
    
words=["sadfsdag","gsadgs","sagsde00000"]
longest_word, length = longest_word_and_length(words)
print("Longest word:", longest_word)
print("Length of {}: {}".format(longest_word, length))
#سبحان الله وبحمده سبحان الله العظيم.

Longest word: sagsde00000
Length of sagsde00000: 11

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [14]:
def exchange_chars1(s):
        return s[-1] + s[1:-1] + s[0]
print(exchange_chars1("ebca"))   
#سبحان الله وبحمده سبحان الله العظيم.

abce

In [13]:
def exchange_chars2(s):
        return s[-1] + s[1:len(s)-1] + s[0]
print(exchange_chars2("bbca"))    
#سبحان الله وبحمده سبحان الله العظيم.

abcb

In [12]:
def exchange_chars1(s: str) -> str:
        l = list(s)
        l[0], l[-1] = l[-1], l[0]
 
        return ''.join(l)

print(exchange_chars1("ebca")) 
#سبحان الله وبحمده سبحان الله العظيم.

abce

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [16]:
def remove_odd_index_characters(s):
    return s[::2]
print(remove_odd_index_characters("abc"))    
#سبحان الله وبحمده سبحان الله العظيم.

ac

In [15]:
def remove_odd_index_characters1(s):
    result = ""
    for i in range(len(s)):
        if i % 2 == 0:
            result += s[i]
    return result
print(remove_odd_index_characters1("abc"))    
#سبحان الله وبحمده سبحان الله العظيم.

ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [17]:
from collections import Counter
def count_word_occurrences(s):
    c = Counter(s.split())
    return c
print(count_word_occurrences("amr and ahmed are frindes but amr is the tallest "))    
#سبحان الله وبحمده سبحان الله العظيم.

Counter({'amr': 2, 'and': 1, 'ahmed': 1, 'are': 1, 'frindes': 1, 'but': 1, 'is': 1, 'the': 1, 'tallest': 1})

In [18]:
s = "amr and ahmed are friends but amr is the tallest"
result = s.count("amr")
print("Result:", result) 
#سبحان الله وبحمده سبحان الله العظيم.

Result: 2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [22]:
n = input("Enter a string: ")
print(n.upper())
print(n.lower())
#سبحان الله وبحمده سبحان الله العظيم.

Enter a string:  uuuuuuuuuuuuuuuuuuu

UUUUUUUUUUUUUUUUUUU
uuuuuuuuuuuuuuuuuuu

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [29]:
def reverse_string_if_multiple_of_4(s):
    return s[::-1] if len(s) % 4 == 0 else s
print(reverse_string_if_multiple_of_4("asdf"))
#سبحان الله وبحمده سبحان الله العظيم.

fdsa

**10- Write a Python program to remove a newline in Python

In [31]:
# s = "Hello\nWorld\n"
# swnl = s.rstrip("\n")
# print("Text without newline:", swnl)
s = "Hello\nWorld\n"
swnl = s.replace("\n", "")
print("Text after remove newline:", swnl)
#سبحان الله وبحمده سبحان الله العظيم.

Text without newline: HelloWorld

**11-Write a Python program to check whether a string starts with specified characters

In [141]:
s = "hello world"
c = "h"
print(s.startswith(c))
#سُبْحَانَ اللَّهِ رَبِّ السَّمَاوَاتِ وَالْأَرْضِ وَمَا بَيْنَهُمَا ۖ وَرَبِّ الْعَرْشِ الْعَظِيمِ.

True

**12- Write a Python program to add prefix text to all of the lines in a string

In [32]:
def add_prefix_to_lines(s, prefix):
    return '\n'.join(prefix + line for line in s.splitlines())
s = """sdf
sadfsd
asdf"""    
prefix = "Prefix: "
print(add_prefix_to_lines(s, prefix))
#سُبْحَانَ اللَّهِ رَبِّ السَّمَاوَاتِ وَالْأَرْضِ وَمَا بَيْنَهُمَا ۖ وَرَبِّ الْعَرْشِ الْعَظِيمِ.

Prefix: sdf
Prefix: sadfsd
Prefix: asdf

**13-Write a Python program to print the following numbers up to 2 decimal places

In [49]:
nums=[3.444,1.232,42,24.96699]
for i in nums:
    print("{:.2f}".format(i))
#سُبْحَانَ اللَّهِ رَبِّ السَّمَاوَاتِ وَالْأَرْضِ وَمَا بَيْنَهُمَا ۖ وَرَبِّ الْعَرْشِ الْعَظِيمِ.

3.44
1.23
42.00
24.97

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [48]:
nums=[3.444,1.232,42,-2.96699]
for i in nums:
        print("{:+.2f}".format(i))
#سُبْحَانَ اللَّهِ رَبِّ السَّمَاوَاتِ وَالْأَرْضِ وَمَا بَيْنَهُمَا ۖ وَرَبِّ الْعَرْشِ الْعَظِيمِ.

+3.44
+1.23
+42.00
-2.97

**15-Write a Python program to display a number with a comma separator

In [115]:
print("{:,}".format(1000000))
#سُبْحَانَ اللَّهِ رَبِّ السَّمَاوَاتِ وَالْأَرْضِ وَمَا بَيْنَهُمَا ۖ وَرَبِّ الْعَرْشِ الْعَظِيمِ.

1,000,000

**16-Write a Python program to reverse a string using 2 ways

In [55]:
s = "hello"
print(s[::-1])

print(''.join(reversed(s)))

def reverse_string(s):
    if len(s) == 0:
        return s
    else:
        return reverse_string(s[1:]) + s[0]
print(reverse_string(s))

sr = ""
for char in s:
    sr = char + sr
print(sr)    
  #سُبْحَانَ اللَّهِ رَبِّ السَّمَاوَاتِ وَالْأَرْضِ وَمَا بَيْنَهُمَا ۖ وَرَبِّ الْعَرْشِ الْعَظِيمِ.

olleh
olleh
olleh
olleh

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [61]:
s ="hello"
print( {char: s.count(char) for char in s})
#سُبْحَانَ اللَّهِ رَبِّ السَّمَاوَاتِ وَالْأَرْضِ وَمَا بَيْنَهُمَا ۖ وَرَبِّ الْعَرْشِ الْعَظِيمِ.

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [71]:
s ="hheeelllooo"
c = Counter(s)
l=[]    
for char in s:
    if c[char] == 1:
        l.append(char)
print(l)     
#سُبْحَانَ اللَّهِ رَبِّ السَّمَاوَاتِ وَالْأَرْضِ وَمَا بَيْنَهُمَا ۖ وَرَبِّ الْعَرْشِ الْعَظِيمِ.

[]

**19-Write a Python program to remove spaces from a given string

In [76]:
s ="hh ee elll oo o"
print(s.replace(" ", ""))
print("".join(s.split()))
print(''.join(char for char in s if char != ' '))
#سُبْحَانَ اللَّهِ رَبِّ السَّمَاوَاتِ وَالْأَرْضِ وَمَا بَيْنَهُمَا ۖ وَرَبِّ الْعَرْشِ الْعَظِيمِ.

hheeelllooo
hheeelllooo
hheeelllooo

**20-Write a Python program to count the number of non-empty substrings of a given string

In [121]:
import itertools

s = "abc"
l = list(itertools.permutations(s))
ls = map(''.join, l)
ls=list(ls)
print(ls)
print(len(ls))
#اللهم اغفر لي وارحمني واهدني وارزقني.

['abc', 'acb', 'bac', 'bca', 'cab', 'cba']
6

**21-write a Python program to swap first and last element of any list.

In [77]:
l=[1,2,3,4,5,6]
if len(l) >= 2:
    l[0], l[-1] = l[-1], l[0]
print(l)    
#اللهم اغفر لي وارحمني واهدني وارزقني.

[6, 2, 3, 4, 5, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [94]:
l=[23, 65]
pos1 = 1 
pos2 = 2
if 0 <= pos1-1 < len(l) and 0 <= pos2-1 < len(l):
        l[pos1-1], l[pos2-1] = l[pos2-1], l[pos1-1]
print(l)
#اللهم اغفر لي وارحمني واهدني وارزقني.

[65, 23]

**23- search for the all ways to know the length of the list

In [98]:
l = [1, 2, 3, 4, 5]
print(len(l))
print(l.__len__())
print(sum(1 for _ in l))
#اللهم اغفر لي وارحمني واهدني وارزقني.

5
5
5

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [99]:
l = [1, 2, 3, 4, 5]
print(max(l))
#اللهم اغفر لي وارحمني واهدني وارزقني.

5

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [100]:
l = [1, 2, 3, 4, 5]
print(min(l))
#اللهم اغفر لي وارحمني واهدني وارزقني.

1

**26-search for if an elem is existing in list

In [104]:
l = [1, 2, 3, 4, 5]
e = 5
if l.index(e)==len(l)-1:
    print(True)
else:
    print(False)
#اللهم اغفر لي وارحمني واهدني وارزقني.

True

**27- clear python list using different ways

In [106]:
l = [1, 2, 3, 4, 5]
l.clear()
l = []
while l:
    l.pop()
print(l)
#اللهم اغفر لي وارحمني واهدني وارزقني.

[]

**28-remove duplicated elements from a list

In [108]:
l = [1, 2, 3, 3,4,5, 5]
print(list(set(l)))
#اللهم اغفر لي وارحمني واهدني وارزقني.

[1, 2, 3, 4, 5]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [264]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]
result = []
for i in range(max(len(test_list), len(key_list))):
    key = key_list[i % len(key_list)]
    value = test_list[i % len(test_list)]
    result.append({key: value})
print(result)
#اللهم اغفر لي وارحمني واهدني وارزقني.

[{'name': 'Gfg'}, {'id': 3}, {'name': 'is'}, {'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [192]:
l = [1, 2, 3, 4, 5, 1, 2, 3]
print(len(set(l)))
#اللهم اغفر لي وارحمني واهدني وارزقني.

5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [214]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
result = []
for e in test_list:
    if test_list.count(e) > K:
        result.append(e)
      
print(list(set(result)))
#اللهم اغفر لي وارحمني واهدني وارزقني.

[3, 4]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [319]:
nl = []  
l = [1,2,2,3,4,5]
for i in range(1, len(l)):
    r = max(l[i], l[i-1])
    nl.append(r)
    
print(arr2)
#سُبْحَانَ اللَّهِ رَبِّ السَّمَاوَاتِ وَالْأَرْضِ وَمَا بَيْنَهُمَا ۖ وَرَبِّ الْعَرْشِ الْعَظِيمِ.

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [160]:
from itertools import permutations
l=[1,2,3]
nl=[]
for i in permutations(l):
        print(*i,end="" " ## ")
    #اللهم اغفر لي وارحمني واهدني وارزقني.

1 2 3 ## 1 3 2 ## 2 1 3 ## 2 3 1 ## 3 1 2 ## 3 2 1 ##

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [251]:
test_list = [1, 2, 3]
result = []
for r in range(1, len(test_list) + 1):
    combinations = list(itertools.combinations(test_list, r))
    result.extend([list(c) for c in combinations])
print(result)
#اللهم اغفر لي وارحمني واهدني وارزقني.

[[1], [2], [3], [1, 2], [1, 3], [2, 3], [1, 2, 3]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [254]:
import itertools
list_1 = ["a", "b"]
list_2 = [1, 2]
print(list(set(list(itertools.product(list_1, list_2)))))
#اللهم اغفر لي وارحمني واهدني وارزقني.

[('b', 1), ('b', 2), ('a', 1), ('a', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [166]:
l = [1, 1, 2, 3, 4, 5, 1, 2, 1]
r = 1

while r in l:
    l.remove(r)
print(l)    
#اللهم اغفر لي وارحمني واهدني وارزقني.

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [266]:
list1 = ['Gfg', 'is', 'best']
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
result = []
for index in list2:
    result.append(list1[index])

print(result)
#اللهم اغفر لي وارحمني واهدني وارزقني.

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [270]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 3
result = []
for i in test_list:
    if i.count(K) == N:
        result.append(i)
print(result)
#اللهم اغفر لي وارحمني واهدني وارزقني.

[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [273]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]

for i in range(len(array[0])):
    sorted_array = sorted(array, key=lambda x: x[i])
    print(f"column {i}:", sorted_array)
    
#اللهم اغفر لي وارحمني واهدني وارزقني.

column 0: [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
column 1: [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
column 2: [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [284]:
dicti = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
print(dict(sorted(dicti.items())))
#لا إله إلا الله وحده لا شريك له، له الملك وله الحمد، وهو على كل شيء قدير.

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [310]:
test_dict = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
K = 7+1
for key in list(test_dict.keys()):
    if isinstance(test_dict[key], int) and test_dict[key] > K:
        del test_dict[key]

print(test_dict)
#لا إله إلا الله وحده لا شريك له، له الملك وله الحمد، وهو على كل شيء قدير.

{'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [234]:
def ds(*dicts):
    result = {}
    for d in dicts:
        result.update(d)
    return result

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
print(ds(dic1,dic2,dic3))
#لا إله إلا الله وحده لا شريك له، له الملك وله الحمد، وهو على كل شيء قدير.

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [291]:
d = {'a': 1, 'b': 2, 'c': 3}
for key in d:
    print(key)
print()
for value in d.values():
    print(value)
print()

for key, value in d.items():
    print(key, "->", value)
#لا إله إلا الله وحده لا شريك له، له الملك وله الحمد، وهو على كل شيء قدير.

a
b
c

1
2
3

a -> 1
b -> 2
c -> 3

**44- Write a Python script to merge two Python dictionaries

In [302]:
d1 = {'1': 1, '2': 2}
d2 = {'3': 3, '4': 4}
d1.update(d2)
print(d1)

dm = {**d1, **d2}
print(dm)
#لا إله إلا الله وحده لا شريك له، له الملك وله الحمد، وهو على كل شيء قدير.

{'1': 1, '2': 2, '3': 3, '4': 4}
{'1': 1, '2': 2, '3': 3, '4': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [124]:
d = {'10': 10, '20': 20, '5': 5, '15': 15}
print( max(d.values()))
print(min(d.values()))
#لا إله إلا الله وحده لا شريك له، له الملك وله الحمد، وهو على كل شيء قدير.

20
5

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [229]:
original_dictionary= {'c1': 'Red', 'c2': 'Green', 'c3': None} 
print(dict(filter(lambda item: item[1] is not None, original_dictionary.items())))
d = {}
for key, value in original_dictionary.items():
    if value is not None:
        d[key] = value
print(d)
#لا إله إلا الله وحده لا شريك له، له الملك وله الحمد، وهو على كل شيء قدير.

{'c1': 'Red', 'c2': 'Green'}
{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [122]:
t = (1, 2, 3, 4, 5)
print(t[2]) 
#لا إله إلا الله وحده لا شريك له، له الملك وله الحمد، وهو على كل شيء قدير.

3

**48-Write a Python program to unpack a tuple into several variables

In [190]:
t = (1, 2, 3)

v1, v2, v3 = t
print(v1)
print(v2)
print(v3)
#لا إله إلا الله وحده لا شريك له، له الملك وله الحمد، وهو على كل شيء قدير.

1
2
3

**49-Write a Python program to add an item to a tuple

In [131]:
t = (1, 2, 3, 4,5)
t = t + (6,)
print(t)
#لا إله إلا الله وحده لا شريك له، له الملك وله الحمد، وهو على كل شيء قدير.

(1, 2, 3, 4, 5, 6)

**50-Write a Python program to convert a tuple to a string

In [132]:
t = (1, 2, 3, 4,5)
print(''.join(map(str, t)))
#اللهم إني أستغفرك وأتوب إليك

12345

**51-Write a Python program to convert a list to a tuple

In [135]:
l = [1, 2, 3, 3,4]
print(tuple(l))
#اللهم إني أستغفرك وأتوب إليك

(1, 2, 3, 3, 4)

**52-Write a Python program to reverse a tuple

In [136]:
t = (1, 2, 3, 4,5)
print(t[::-1])
#اللهم إني أستغفرك وأتوب إليك

(5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [170]:
lt = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([tuple(t[:-1]) + (100,) for t in lt])
#اللهم إني أستغفرك وأتوب إليك

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [174]:
s="python 3.0"
print(tuple(s.replace(' ','')))
#اللهم إني أستغفرك وأتوب إليك

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [167]:
t =((1, 2,3), (4, 5,6,7), (8, 9,10,11))
tS = 0
tE = 0
for i in t:
    tS += sum(i)
    tE += len(i)
print( tS / tE)
#اللهم إني أستغفرك وأتوب إليك

6.0

**56-Write a Python program to add member(s) to a set.

In [175]:
s = {1, 2, 3}
s.add(4)
print(s)

{1, 2, 3, 4}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [182]:
s = {1, 2, 3}
i=0
if i in s:
    s.remove(i)
    print(i , "removed from the set")
else:
    print(i, "is not found in the set")
#اللهم إني أستغفرك وأتوب إليك

0 is not found in the set

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [189]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}
print(s1.union(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))
#اللهم إني أستغفرك وأتوب إليك

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [185]:
s = {1, 2, 3}
print(max(s))
print(min(s))
#اللهم إني أستغفرك وأتوب إليك

3
1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [305]:
lst = [1, 2, 3, 4, 5]
v = 6
seen = set()
m = []
for num in lst:
    rest = v - num
    if rest in seen:
        m.append((num, rest))
    seen.add(num)
print(m)
#اللهم إني أستغفرك وأتوب إليك

[(4, 2), (5, 1)]